---
layout: default
---
<head>
  <h1><a href="/">{{ site.title }}</a></h1>
</head>

<div class="clearfix">
	{% for category in site.categories %}
	<a href="/categories/{{category[0]}}.html">{{category[0]}} <span class="badge">{{category[1].size}}</span></a>&nbsp;&nbsp;&nbsp;       
	{% endfor %}
</div>

<h2><span>notes</span></h2>
<!-- This loops through the paginated posts -->
<ul>
  {% for post in paginator.posts %}
  <li class="post">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>&nbsp;&nbsp;
  {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;<span>&laquo; Previous</span>&nbsp;&nbsp;
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    &nbsp;&nbsp;<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    &nbsp;&nbsp;<span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<h2>links</h2>
<ul>
  <li>
    <a href="https://wulujia.com/">wulujia.com</a>
    <span>&mdash; Homepage</span>
  </li>
  <li>
      <a href="https://www.zsxq.com/">知识星球</a>
      <span>&mdash; 连接一千位铁杆粉丝</span>
  </li>
  <li>
    <a href="https://tealseed.com/">TealSeed</a>
    <span>&mdash; Sow the seeds of hope and innovation</span>
  </li>
  <li>
    <a href="https://slax.com/">Slax</a>
    <span>&mdash; Simple tools, relax life</span>
  </li>
  <li>
    <a href="https://hacklook.com/">Hacklook</a>
  </li>
  <li>
    <a href="https://meltflake.com/">Meltflake</a>
  </li>
  <li>
    <a href="https://wlj.me/">wlj.me</a>
  </li>
  <li>
    <a href="https://x.com/wulujia">@wulujia</a>
  </li>
</ul>
