---
layout: default
---
<header>
  <h1><a class="fadedlink" href="/" title="首页">&laquo;</a> {{ page.title }} <small>{{ page.date || date: "%Y-%m-%d" }}</small></h1>

  <nav>
    <ul class="clearfix">
    {% for tag in page.tags %}
      <li><a href="/tags/{{ tag }}.html">{{ tag }}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>

{% include toc.html %}

<hr/>

<div id="post" role="main">
  {{ content }}
  <p class="back">&laquo; <a href="/">首页</a></p>
</div>

<!--
<h2>相关</h2>
<ul class="posts_list">
  {% for post in site.related_posts limit:3 %}
  <li class="post">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
-->

<hr/>
